* {
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color:#ebebeb;
}


/* 
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/




/* 
ACÁ EMPIEZA HEADER
 */






header {
  background-color: #EAC926;
  padding-bottom: 1.5rem;
}

header nav {
  display: none;
}

header p {
  text-align: center;
}

.containerLogoSearchBar {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
  flex-wrap:wrap ;
  align-items: center;
}

.containerLogoSearchBar p {
  margin-top: 1.5rem;
}

.containerLogoSearchBar form {
  display: flex;
  background-color: white;
  padding: .6rem .3rem;
  border-radius: 5px;
  margin-left: 1rem;
}

.logo {
  width: 200px;
  padding-bottom: .6rem;
}


.containerLogoSearchBar form input {
  border: none;
}


.formButton {
  border: none;
  display: block;
  height: 20px;
  padding: 0;
  background-color: transparent;
  padding-left: .5rem;
  padding-right: .5rem;
}

/* SVG HEADER */
.lupita {
  width: 18px;
  fill: #666;
}
.iconosHeader {
  width: 15px;
  padding-left: .2rem;
}

nav ul li a {
  color: black;
  text-decoration: none;
}
nav ul {
  list-style-type: none;
  padding-left: 0;
}

.burger-menu {
  text-align: center;
}
.fas {
  color: white;
  background-color: #1259c3;
  padding: .6rem;
  border-radius: 5px;
}





/* ACÁ TERMINA HEADER  */











.banner-img {
  width: 100%;
}








/* 
ACÁ EMPIEZA MAIN
*/

.contenedorUltimaVisita, 
.contenedorOfertas {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}


.titulares {
  font-size: 24px;
  font-weight: bold;
  color: #666;
  padding: 1.5rem;
  align-self: flex-start;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main article {
  margin-bottom: 10px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoArticle {
  background-color: white;
  width: 300px;
  border-top: solid 1px #ebebeb;
  padding: 15px;
  padding-top: 0px;
  text-align: left;
  box-sizing: border-box;

}


.circuloVerde {
  display: block;
  border: 1px solid #39b54a;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFF;
  padding: 5px;

  position: relative;
  z-index: 3;
  left: 230px;
  top: -15px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.iconosMain {
  fill: #39b54a;
  width: 20px;
}

.contenedorPrecioDescuento {
  display: flex;
  align-items: flex-end;
}

.precio {
  margin-right: .5rem;
  font-size: 18px;
}

.descuento {
  font-size: 16px;
  color: #39b54a;
}

.nombreProducto {
  display: none;
}






/* ACÁ TERMINA MAIN */
























/*  
ACÁ EMPIEZA FOOTER 
*/





.footerContainer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footerContainer article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.iconosFooter {
  fill: #1259c3;
  width: 2rem;
  
  margin-bottom: 10px;
}

.tituloTextoFooter {
  font-weight: bold;
  color: #666;
  margin: 0;
}

.cuerposTexto {
  text-align: center;
  font-size: 12px;
  color: #666;
  width: 250px;

  margin: 0;
}

.copyright {
  font-size: 12px;
  padding-left: 1.5rem;
  color: #666;
}






/* ACÁ TERMINA FOOTER */














/* FORMULARIO REGISTRO */

.mainRegistro {
  display: flex;
  justify-content: center;
}

.containerFormularioRegistro {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  padding: 1rem;
}

.containerFormularioRegistro input {
  padding: .7rem 1rem;
  border: none;
  margin-bottom: 2.5rem;
  border-radius: 5px;

  font-size: 14px;
}

.containerFormularioRegistro label {
  font-weight: bold;
  margin-bottom: 1.25rem;
}


.containerPerfilUsuario {
  display: flex;
}


.checkboxRegistro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
}





.containerBotonesRegistro {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.containerBotonesRegistro button {
  background-color: rgb(16, 16, 16);
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  border: solid 1px rgb(16, 16, 16);
  transition: .2s;
}

.containerBotonesRegistro button:hover {
  background-color: white;
  color: black;
  border: solid 1px black;

}









/* PUNTOS DE QUIEBRE */

@media (min-width: 361px) {
  .nombreProducto {
    display: block;
    color: #666;
    font-weight: 500;
    margin-top: 1.5rem !important;
  }

  main article {
    box-shadow: 0px 0px 10px rgba(100, 100, 100, .4);
  }

  header nav {
    display: none;
  }
  .burger-menu {
    margin-top: 1.5rem;
  }


  .seccionUltimaVisita,
  .seccionOfertas {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}






@media (min-width: 768px) {
  header nav {
    display: block;
    display: flex;
    justify-content: space-evenly;
    
  } 

  .burger-menu {
    display: none;
  }

  header nav ul {
    display: flex;
    padding-left: 1.5rem;
    align-items: center;
  }

  header nav ul li {
    margin-right: 1.5rem;
  }

  .containerLogoSearchBar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
  }

  .logo {
    width: 200px;
  }

  .containerLogoSearchBar form {
    display: flex;
    align-items: center;
  }


  .footerContainer {
    height: 300px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }
}





@media (min-width: 1280px) {
  .logo {
    width: 300px;
  }


  .mainProductos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contenedorUltimaVisita article,
  .contenedorOfertas article{
    margin-left: 1.5rem;
  }
}