<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Mercado Liebre | Ingresá" }) %>

  <body>
    <%- include('../partials/header')%>

      <main class="mainRegistro">
        <form class="containerFormularioRegistro" action="/" method="GET">
          <input required type="text" name="usuario" placeholder="Nombre de usuario" />
          <input required type="password" name="password" placeholder="Contraseña" />
          <button class="botonLogin" type="submit">Enviar</button>
        </form>
      </main>

      <%- include('../partials/footer')%>
  </body>

</html>