<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Mercado Liebre | Registrate" }) %>

  <body>
    <%- include('../partials/header')%>

      <main class="mainRegistro">
        <form class="containerFormularioRegistro" action="/" method="GET">
          <input required type="text" name="nombre" placeholder="Nombre y apellido" />
          <input required type="text" name="usuario" placeholder="Nombre de usuario" />
          <input required type="email" name="email" placeholder="E-mail" />

          <label for="fechaNacimiento">Fecha de nacimiento</label>
          <input required type="date" name="fechaNacimiento" id="fechaNacimiento" value="mm/dd/yyyy" min="1900-01-01"
            max="2023-12-31" />
          <input required type="text" name="domicilio" placeholder="Domicilio" />

          <label for="perfilUsuario">Perfil del usuario</label>

          <div class="containerPerfilUsuario">
            <label for="perfilUsuarioComprador">Comprador</label>
            <input required type="radio" name="perfil" id="perfilUsuarioComprador" value="comprador" />
            <label for="perfilUsuarioComprador">Vendedor</label>
            <input required type="radio" name="perfil" id="perfilUsuarioVendedor" value="vendedor" />
          </div>

          <label for="hobbies">Intereses</label>
          <div id="hobbies" class="checkboxRegistro">
            <label for="hobbiesElectro">Electro</label>
            <input required type="checkbox" name="hobbies" id="hobbiesElectro" value="electro" />

            <label for="hobbiesModa">Moda</label>
            <input required type="checkbox" name="hobbies" id="hobbiesModa" value="moda" />

            <label for="hobbiesHogar">Hogar</label>
            <input required type="checkbox" name="hobbies" id="hobbiesHogar" value="hogar" />

            <label for="hobbiesJugueteria">Juguetería</label>
            <input required type="checkbox" name="hobbies" id="hobbiesJugueteria" value="juguetería" />

            <label for="hobbiesVidaSana">Vida Sana</label>
            <input required type="checkbox" name="hobbies" id="hobbiesVidaSana" value="vidaSana" />
          </div>

          <div class="contenedorPerfilRegistro">
            <label for="profilePic">Seleccionar una imagen para el perfil:</label>
            <input required type="file" name="profilePic" id="profilePic" accept=".jpg" multiple />
          </div>

          <input type="password" name="password" placeholder="Contraseña" />
          <input required type="password" name="password" placeholder="Confirmar Contraseña" />

          <div class="containerBotonesRegistro">
            <button type="submit">Enviar</button>
            <button type="reset">Cancelar</button>
          </div>
        </form>
      </main>

      <%- include('../partials/footer')%>
  </body>

</html>