<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Mercado Liebre | Creá" }) %>

  <body>
    <%- include('../partials/header')%>

      <main class="mainRegistro">
        <form class="containerFormularioRegistro" action="/product/create" method="POST" enctype="multipart/form-data">
          <input type="text" name="name" placeholder="Nombre" />
          <input type="number" name="price" placeholder="Precio" />
          <input type="number" name="discount" placeholder="Descuento" />
          <input type="file" name="image" placeholder="Imagen Prodcuto">
          <button class="botonLogin" type="submit">Crear Producto</button>
        </form>
      </main>
  </body>

</html>